@use '../../../scss/abstracts/' as *;
// @use '../../../../scss/abstracts/colors' as *;



.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 75vw;
	margin: 0 auto;

	& > * {
		margin: toRem(12px);
	}
	
}