// primary colors
$color-primary-blue: #0A66C2;
$color-primary-white: #FFFFFF;
$color-primary-purple: #6667ab;
$color-primary-text: #333333;
$color-primary-bg: #f6f8fa;

// box shadows
$color-shadow-1: rgba(0, 0, 0, 0.1);
$color-shadow-2: rgba(0, 0, 0, 0.2);
$color-shadow-5: rgba(0, 0, 0, 0.5);
$color-shadow-8: rgba(0, 0, 0, 0.8);