@use '../../../scss/abstracts/' as *;

%default-btn-props {
	border-radius: toRem(4px);
	padding: toRem(8px) toRem(16px);
	transition: transform .1s;

	&:hover,
	&:focus-visible {
		outline: none;
		cursor: pointer;
		box-shadow: 0 toRem(6px) toRem(2px) toRem(-2px)  rgb(0 0 0 / 0.2);
		transform: translateY(toRem(-1px));
	}

	&:active {
		transform: translateY(toRem(1px))
	}
}

.btn {
	@extend %default-btn-props;

	// .btn--default
	&--default {
		background-color: $color-primary-blue;
		border: none;
		color: $color-primary-white;
	}

	// .btn--inverted
	&--inverted {
		border: toRem(1px) solid $color-primary-purple;
		color: $color-primary-purple;
		background-color: transparent;
	}

	// .btn--rounded
	&--rounded {
		border-radius: toRem(20px);
	}
}