@use '../scss/abstracts' as *;
@use '../scss/components' as *;

.app {
	display: flex;
	justify-content: center;

	// .app__actions
	&__actions {
		& > * {
			&:first-child {
				margin-right: toRem(6px)
			}
		}
	}
}

