@use '../scss/abstracts' as *;
@use '../scss/components' as *;

.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	// .app__headings
	&__headings {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: toRem(30px);
	}

	// .app__actions
	&__actions {
		& > * {
			&:not(:last-child) {
				margin-right: toRem(6px)
			}
		}
	}
}

